@font-face
	font-family: ClearSans-Bold
	src: url(../fonts/ClearSans-Bold.ttf)

@font-face
	font-family: ClearSans-Light
	src: url(../fonts/ClearSans-Light.ttf)

@font-face
	font-family: ClearSans-Regular
	src: url(../fonts/ClearSans-Regular.ttf)

$large-size: 25px
$constant-size: 14px

.pn
	padding: 0

body
	font-size: $large-size
	background-color: #fff
	font-family: "ClearSans-Regular"

header
	.row
		padding: 0 10px

	.logo
			fill: #fff

	.top-panel
		background-color: #333333

		.top-panel-logo
			margin: 20px 0 auto
			width: 110px

		.top-panel-button, .top-panel-button:focus
			margin: $constant-size 0
			padding: 6px 24px
			background-color: transparent
			color: #fff

		.top-panel-button:hover, .top-panel-button:focus:hover
			background-color: #33ccff
			color: #fff

	.header
		padding: 190px 0
		background: url(../img/Layer_27.png) center no-repeat #0099ff
		background-size: cover
		color: #fff

		.header-description
			margin: 90px $constant-size * 20 0
			line-height: 1.6

main
	margin: $large-size * 2 0

	.row
		padding: 0 50px

		h1
			font-family: ClearSans-Regular
			font-size: 40px
			margin-top: $large-size * 2
			margin-bottom: $large-size * 2

		.main-text
			margin-right: $constant-size * 3
			line-height: 1.6

		.framing
			div
				padding: $constant-size $constant-size * 2
				margin: $constant-size auto 0
				min-height: 180px
				max-width: 164px
				border-style: solid
				border-width: 2px
				border-color: rgb(210, 224, 230)
				border-radius: 1px
				color: #8999a9
		
			h2
				margin-top: $large-size
				margin-bottom: 10px
				font-size: 40px
				font-family: ClearSans-Light
			
			.framing-description
				font-size: 16px
				color: rgb(137, 153, 169)

	.miniatures
		margin-top: 70px

		@for $i from 1 through 4
			div:nth-child(#{$i}) div div
				background: url(../img/Layer_#{32-$i}.png) center no-repeat

		div:nth-child(n+1) div
			margin: 0 auto
			max-width: $constant-size * 19.5
			background: #333333

			div
				height: $constant-size * 19.5
				opacity: .5
				transition: .3s ease-in-out

			div:hover
				opacity: 1

		p
			position: absolute
			margin: 0 50px 40px 30px
			bottom: 0
			font-size: 28px
			color: #fff

footer
	margin: 80px 0

	.footer-button, .footer-button:focus
		padding: 16px 70px 22px
		background-color: #3399cc
		box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.25)
		font-size: 22px
		line-height: 1.2
		color: #fff
		border: 0
		border-radius: 0

	.footer-button:hover, .footer-button:focus:hover
		background-color: #33ccff
		color: #fff

@media (max-width: 992px)
	header
		.header
			padding: 19vw 0

		.header 
			.header-description
				margin: 10vw 18vw 0
				line-height: 1.6
	main
		margin: 6vw 0

		.row h1
			margin-top: 6vw
			margin-bottom: 6vw

		.miniatures
			margin-top: 8vw

			div:nth-child(n+1) div
				margin: $constant-size auto

@media (max-width: 768px) 
	header 
		.top-panel 
			.top-panel-button, .top-panel-button:focus
				padding: 6px $constant-size

		.header-logo
			width: 60vw
	main
		.row
			padding: 0 $constant-size * 2

			h1
				font-size: 32px

			.main-text
				font-size: 20px

@media (max-width: 400px)
	header 
		.header-logo
			width: 240px
	main .row
		padding: 0 $constant-size

		.main-text
			font-size: $constant-size

@media (max-width: 320px)
	header 
		.top-panel 
			.top-panel-button, .top-panel-button:focus
				padding: 6px 3px